<app-my-jsondata></app-my-jsondata>
<!-- 
    <app-http-client-demo></app-http-client-demo> -->
<!-- <app-crud-operation></app-crud-operation> -->
<!-- <app-employee></app-employee> -->
<!-- <app-globleserv-demo></app-globleserv-demo> -->
<!-- <app-cube-serv-demo></app-cube-serv-demo> -->
<!-- <app-reactive-form-group></app-reactive-form-group> -->

<!-- <app-reactive></app-reactive> -->
<!-- <app-form-demo></app-form-demo> -->
<!-- <app-life-cycle></app-life-cycle> -->
<!-- <app-pipe-demo></app-pipe-demo> -->
<!-- <app-for-directive-demo2></app-for-directive-demo2> -->
<!-- <app-for-directive></app-for-directive> -->
<!-- <app-directive-if></app-directive-if> -->
<!-- <app-bank></app-bank> -->
<!-- <app-class-style-binding></app-class-style-binding> -->
<!-- <app-two-way-demo></app-two-way-demo> -->
<!-- <app-attribute-demo></app-attribute-demo> -->

<!-- <app-my-http></app-my-http> -->
<!-- <app-my-http-client></app-my-http-client> -->
<!-- <h1>Interpolation And Property</h1>
<h1>{{myApp}}</h1>

<h2>{{myNumber}}</h2>

<h2>{{8+7*2}}</h2>

<h2>{{"Hello".length}}</h2>

<h2>{{display().toUpperCase()}}</h2>
<h2>{{"My name is ...."}}</h2> -->

<!-- <h2>{{imagePath}}</h2>  //it show path only not actual image -->
<!-- property Binding  -->
<!-- <img [src]='imagePath'> -->

<!-- <input type="text" disabled="{{isdisabled}}" value="hii">Mobile -->

<!-- <input type="text" [disabled]='isdisabled' value="hii">Mobile -->