

<!-- <h2>{{message}}</h2>
<h2>{{message | lowercase}}</h2> 
<h2>{{message|uppercase}}</h2>

<h2>{{amount}}</h2>

<h2>{{amount|currency:'USD':true}}</h2>
<h2>{{amount|currency:'USD':false}}</h2>
<h2>{{amount|currency:'INR':true}}</h2>
<h2>{{amount|currency:'INR':false}}</h2>

<h2>Percentage   :  {{amount|percent:'.2'}}</h2>

<h2>Decimal   {{amount|number:'2.2'}}</h2> -->



<h2>{{myDate}}</h2>
<h2>{{myDate|date}}</h2>

<h2>{{myDate|date:'fullDate'}}</h2>
<h2>{{myDate|date:'shortDate'}}</h2>
<h2>{{myDate|date:'HH:MM'}}</h2>
<h2>{{myDate|date:'hh:mm:ss a'}}</h2>
<h2>{{myDate|date:'HH:MM:SS a'}}</h2>
<h2>{{myDate|date:'hh:mm:ss p'}}</h2>


<h2>{{4|myPipe}}</h2>



<h2>{{"pune"|uppercase|custPipe}}</h2>


<h2>{{67|tempConvert:'C'}}</h2>

<h2>{{80|tempConvert:'F'}}</h2>