

<table class='table'>
    <tr>
        <!-- <th>Position</th> -->
        <th>Car_ModelNumber</th>
        <th>Car_Name   </th>
        <th>Car_Color</th>
        <th>Car_Cost</th>
    </tr>

    <!-- <tr *ngFor='let cr of car'>
        <td>{{cr.modelId}}</td>
        <td>{{cr.car_Name}}</td>
        <td>{{cr.car_Color}}</td>
        <td>{{cr.car_Price}}</td>
    </tr> -->
    <!-- <tr *ngFor='let cr of car ; let i=index;'>
        <ng-template [ngIf]=i%2 >
        <td>{{i}}</td>
        <td>{{cr.modelId}}</td>
        <td>{{cr.car_Name}}</td>
        <td>{{cr.car_Color}}</td>
        <td>{{cr.car_Price}}</td>
    </ng-template>

    </tr> -->


    <tr *ngFor='let cr of car'>
        <td>{{cr.modelId}}</td>
        <td>{{cr.car_Name}}</td>
        <td>{{cr.car_Color}}</td>
        <td>{{cr.car_Price}}</td>
    </tr>

    <tr *ngIf='!car || car.length==0'>

        <td colspan='5'>No Car Available</td>
    </tr>

</table><br><br>


EnterColor:<input type="text" [(ngModel)]='color'>
<div [ngSwitch]="color">
<div *ngSwitchCase="'red'"><h1 style='color:red'>Hi you select Red</h1></div>
<div *ngSwitchCase="'blue'"><h1 style='color:blue'>Hi you select Blue</h1></div>
<div *ngSwitchCase="'yellow'"><h1 style='color:rgb(217, 255, 0)'>Hi you select Yellow</h1></div>
<div *ngSwitchDefault>Please Select Again</div>
</div>


<!-- <div>  
    	    <h1>Demonstrate of Pipe in Angular 8</h1>  
    	    <h2>Date Pipes</h2>  
    	    Full Date : {{todayDate}}<br />  
    	    Short Date : {{todayDate | date:'shortDate'}}<br />  
    	    Medium Date : {{todayDate | date:'mediumDate'}}<br />  
    	    Full Date : {{todayDate | date:'fullDate'}}<br />  
    	    Time : {{todayDate | date:'HH:MM'}}<br />  
    	    Time : {{todayDate | date:'hh:mm:ss a'}}<br />  
    	    Time : {{todayDate | date:'hh:mm:ss p'}}<br />  
    	  
    	    <h2>Number Pipes</h2>  
        No Formatting : {{amount}}<br />  
    	    2 Decimal Place : {{amount |number:'3.3-3'}}  
    	  
    	    <h2>Currency Pipes</h2>  
        No Formatting : {{amount}}<br />  
        USD Doller($) : {{amount |currency:'USD':true}}<br />  
    	    USD Doller : {{amount |currency:'USD':false}}<br />  
    	    INR() : {{amount |currency:'INR':true}}<br />  
    	    INR : {{amount |currency:'INR':false}}<br />  
    	  
    	    <h2>String Related Pipes</h2>  
    	    Actual Message : {{message}}<br />  
    	    Lower Case : {{message | lowercase}}<br />  
    	    Upper Case : {{message | uppercase}}<br />  
      
        <h2> Percentage Pipes</h2>  
    	    2 Place Formatting : {{amount | percent :'.2'}}<br /><br />   
    	</div>  
     -->
